@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
   font-family: "Nunito Sans", sans-serif;
   margin:0; 
   padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

.reg-log-nav{
   padding: 10px;
   background: #006600;
   font-size: 18px;
   /* border: 1px solid black; */
}

.reg-log-nav a{
   text-decoration-line: none;
   color: black;
}

.reg-log-nav button{
   width: 190px;
   padding:10px 10px;
   border: none;
   border-radius: 5px;
   color: black;
   background-color: white;
   font-weight: 500;
   cursor: pointer;
}