@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

.container1{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background-color: rgb(239, 243, 9);
}

 .content{
   text-align: center;
   padding: 10px;
}

 .content h3{
   font-size: 50px;
   color:#333;
}

 .content h3 span{
   background: rgb(69, 177, 69);
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

 .content h1{
   font-size: 50px;
   color:#333;
}

 .content h1 span{
   color:rgb(69, 177, 69);
}

 .content p{
   font-size: 25px;
   margin-bottom: 20px;
   color:#333;
}

 .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: rgb(236, 221, 6);
   color:rgb(8, 8, 8);
   margin:0 5px;
   text-transform: capitalize;
}

 .content .btn:hover{
   background: rgb(69, 177, 69);
}

.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background-color: rgb(195, 228, 79);
}

.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 30px;
   color:#333;
}

.container .content h3 span{
   background: rgb(69, 177, 69);
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 50px;
   color:#333;
}

.container .content h1 span{
   color:rgb(69, 177, 69);
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: rgb(236, 221, 6);
   color:rgb(8, 8, 8);
   margin:0 5px;
   text-transform: capitalize;
}

.content .btn:hover{
   background: rgb(69, 177, 69);
}

.index-container{
   background-image: url(./code.pic/medical-bandages.jpg);
   height: 640px;

}

.index-container nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 7px;
   background-color: green;
}

.index-container button{
   width: 110px;
   padding:10px 10px;
   border-radius: 5px;
   color: color;
   background-color: white;
   font-weight: 700;
}

.index-container-nav-2{
   display: flex;
   gap: 20px;
   margin-right: 20px;
}

.index-container-main{
   background-image: url(./code.pic/top-view-medicine-keyboard-arrangement.jpg);
   width: 100%;
   height: 555px;
   background-repeat: no-repeat;
}

.login-container{
   background-color: green;
   height: 640px;
}

.Login-subDiv{
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
}
.Login-subDiv form{
   background-image: url(./code.pic/mainBG.png);
   width: 500px;
   height: 400px;
   padding:10px;
   border-radius: 5px;
   /* box-shadow: 0 5px 10px rgba(0,0,0,.1); */
   text-align: center;
}

.Login-subDiv input,
.Login-subDiv select{
   width: 70%;
   padding:15px 15px;
   font-size: 17px;
   margin:20px 0;
   background: white;
   border-radius: 5px;
}

.bookingForm-container{
   background-color: green;
   height: 640px;
   padding: 2px;
   display: flex;
}

.booking-container{
   display: flex;
   text-align: center;
   gap: 20px;
   background-image: url(./code.pic/mainBG.png);
   margin-top: 43px;
   margin-left: 17rem;
   width: 850px;
   height: 550px;
   
}

.booking-container-form{
   padding: 30px;
}

.booking-container-form-div{
   display: flex;
   gap: 30px;
   margin-top: 10px;
}

.booking-container-form p{
   margin-top: 10px;
}

.booking-container-form h3{
   background-color: rgb(72,178,112);
   text-transform: uppercase;
   padding: 10px;
   
}

.booking-container-form input,
.booking-container-form select{
   width: 50%;
   padding:15px 15px;
   font-size: 17px;
   margin:8px 0;
   background: white;
   border-radius: 5px;
}
.patient-container-form{
   padding: 10px;
}

.patient-container-form-div{
   display: flex;
   gap: 20px;
   margin-top: 10px;
}

.patient-container-form p{
   margin-top: 22px;
   font-size: 20px;

}

.patient-container-form h3{
   background-color: rgb(72,178,112);
   text-transform: uppercase;
   padding: 2px;
   font-size: 30px;
}

.patient-container-form input,
.patient-container-form select{
   width: 40%;
   padding:15px 15px;
   font-size: 17px;
   margin:8px 0;
   background: white;
   border-radius: 5px;
}
.regis-container{
   background-color: green;
   padding: 20px;
   text-align: center;
}

.regis-form-container{
   background-image: url(./code.pic/mainBG.png);
   width: 500px;
   padding: 20px;
   margin-left: 25rem;
   border-radius: 5px;
}

.regis-form-container h3{
   background-color: rgb(72,178,112);
   text-transform: uppercase;
   padding: 10px;
   border-radius: 5px;
}

.regis-form-container input,
.regis-form-container select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: white;
   border-radius: 5px;
}

.mainpage-h3{
   font-size: 2rem;
}

.div-form-side{
    display: flex;
    justify-content: center;
    height: 640px;
    text-align: center;
}


.mainpage-subDiv{
   background-image: url(./code.pic/mainBG.png);
}
.mainpage-sideNav-p{
   display: flex;
   justify-content: end;
   padding: 20px; 
   margin-top: 30px;
   color: black;
}

.mainpage-h3{
   padding-top: 20px;
}

.mainpage-sub-h3{
   background-color: green;
   font-size: 2rem;
   text-transform: uppercase;
   border-radius: 5px;
   margin-bottom: 10px;
   color:#333;
   padding: 8px;
}

.form-container-main{
   min-height: 90px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:35px;
   
   
}

.form-container-main form{
   padding:20px;
   border-radius: 5px;
   /* box-shadow: 0 5px 10px rgba(0,0,0,.1); */
   text-align: center;
 
}

.form-container-main h3{
   background-color: green;
   font-size: 2rem;
   text-transform: uppercase;
   border-radius: 5px;
   margin-bottom: 10px;
   color:#333;
   padding: 8px;
}


.form-container-main input,
.form-container-main select{
   width: 50%;
   padding:10px 10px;
   font-size: 17px;
   margin:8px 0;
   background: white;
   border-radius: 5px;
}

.form-container{
   min-height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:40px;
   padding-bottom: 60px;
   background: rgb(69, 177, 69);
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: rgb(236, 221, 6);
   text-align: center;
   width: 400px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#333;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: whitesmoke;
   border-radius: 5px;
}

.form-container form input:hover{
   background: rgb(69, 177, 69);
   color:#fff;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: #5a5a4fa2;
   color:rgb(69, 177, 69);
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: rgb(3, 3, 3);
   color:rgb(225, 240, 24);
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:rgb(69, 177, 69);
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}